.App {
  text-align: center;
  justify-content: center;
}

.chat-message{
  background-color: #000000;
  margin: 1em 25em;
  padding: 1em;
  max-height: 450px;
  max-width: 800px;
  color: rgb(255, 255, 255);
  overflow-y: auto;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.message-right{
  
  border-radius: 25px;
  padding: .10em 1em !important;
  margin: 1em;
  background: rgb(113,10,205);
  background: linear-gradient(90deg, rgba(113,10,205,1) 15%, rgba(143,8,189,1) 39%, rgba(179,5,170,1) 46%, rgba(255,0,129,1) 74%);
  color: white;
}

.message-left{
  background: aqua;
  border-radius: 25px;
  padding: .10em 1em !important;
  margin: 1em;
  color: rgb(0, 0, 0);

}

.message-text{
  font-size: 17px;
}

.message-icon{
  font-size: 20px;
  margin: 5px;
}

